importarFirebase/
Data/
node_modules/

# Firebase credentials s
asistenciaconreconocimiento-firebase-adminsdk.json
firebase_config_public.json
.env
*.xml
salon_config.txt
set_admin.py

clave_encriptacion.key
salt_encriptacion.key
logs_auditoria.json